/* header */

header{
    margin-top: 0;
    margin-right: 10%;
    margin-left: 10%;
}
main{
    margin-top: 0;
    margin-right: 10%;
    margin-left: 10%;
}
.logo{
    display: grid;
    height: 100px;
   
}
label{
  display: flex;
  justify-content: end;
}
 
.langue{
   
}

.menu{
   
}
 
#plangue{
    display: flex;
    justify-content: end;
   
}
 
#pmenu{
    display: flex;
    justify-content: space-evenly;
}
 
 
/* main */

#pimg{
    display: grid;
    grid-auto-rows: auto;
    justify-content: space-between;
    
}
 
#pimg2{
    display: grid;
    justify-content: ;
    width: ;
}
 
.img{
    width: 20%;   
}

.img2{
    width: 15%;
}
 
 
#jaune{
    display: grid;
    justify-items: center;
    background-color: rgba(255, 232, 28, 1);
}
 
#subscribe{
    color: white;
    background-color: black;
    font-size: large;
}
/* footer */
 
 
footer{
    display: grid;
    background-color: black;
    justify-content: center;
    padding: 2%;
 
}
.pfooter {
    display: grid;
    align-items: center;
    color: white;
    font-family: monospace;
}
 
p {
    display: grid;
    justify-content: center;
    margin: 2px;
}
 
.email{
    display: grid;
    justify-content: center;
}
