.logo{
    display: grid;
    height: 100px;
   
}
label{
  display: flex;
  justify-content: end;
}
 
.langue{
   
}
.menu{
   
}
 
#plangue{
    display: flex;
    justify-content: end;
   
}
 
#pmenu{
    display: flex;
    justify-content: space-evenly;
}
 
#pimg{
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
/* main */
 
 
 
/* footer */

footer{
    display: grid;
    background-color: black;
    justify-content: center;

}
.pfooter {
    display: grid;
    align-items: center;
    color: white;
    font-family: monospace;
}

p {
    display: grid;
    justify-content: center;
}

.email{
    display: grid;
    justify-content: center;
}

