<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="../public/img/logo.png" alt="Bronks">
        </div>
        <div>
            <label for="charset"><input type="search">Search</label>
        </div>
        <div>
            <button class="langue">NL</button>
            <button class="langue">FR</button>
            <button class="langue">EN</button>
        </div>
        <div>
            <nav>
                <button class="menu"><a href="programme.html">PROGRAMME</a></button>
                <button class="menu"><a href="studiobronks.html">STUDIO BRONKS</a></button>
                <button class="menu"><a href="ecoles.html">ÉCOLES</a></button>
                <button class="menu"><a href="openhuis.html">OPEN HUIS</a></button>
                <button class="menu"><a href="apropos.html">À PROPOS DE BRONKS</a></button>
                <button class="menu"><a href="visite.html">VOTRE VISITE</a></button>
            </nav>
        </div>
    <main>
        <div>
            <img src="../public/img/Théâtre Bronks/photos home/01.jpg" alt="Come On Feet">
        </div>
    </main> 
</body>
</html>