<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
    <div>
        <img class="logo" src="../public/img/logo.png" alt="Bronks">
    </div>
    <div>
        <label for="charset"><input type="search">Search</label>
    </div>
    <div>
        <button class="langue">NL</button>
        <button class="langue">FR</button>
        <button class="langue">EN</button>
    </div>
    <div>
        <nav>
            <button class="menu"><a href="programme.html">PROGRAMME</a></button>
            <button class="menu"><a href="studiobronks.html">STUDIO BRONKS</a></button>
            <button class="menu"><a href="ecoles.html">ÉCOLES</a></button>
            <button class="menu"><a href="openhuis.html">OPEN HUIS</a></button>
            <button class="menu"><a href="apropos.html">À PROPOS DE BRONKS</a></button>
            <button class="menu"><a href="visite.html">VOTRE VISITE</a></button>
        </nav>
    </div>
    </header> 
    <main>
        <div>
            <img src="../public/img/Théâtre Bronks/photos home/01.jpg" alt="Come On Feet">
            <img src="../public/img/Théâtre Bronks/photos home/02.jpg" alt="Masques">
            <img src="../public/img/Théâtre Bronks/photos home/03.jpg" alt="Cyrano">
            <img src="../public/img/Théâtre Bronks/photos home/04.jpg" alt="Love">
            <img src="../public/img/Théâtre Bronks/photos home/05.jpg" alt="Rome">
            <img src="../public/img/Théâtre Bronks/photos home/06.jpg" alt="Paris">
        </div>
        <div>
            <h1>RESTEZ INFORMÉ!</h1>
            <h2>Abonnez-vous à notre bulletin</h2>
            <button>S'INSCRIRE</button>
        </div>
        <div>
            <img src="../public/img/Théâtre Bronks/logos partenaires/vlaanderen-logo.jpg" alt="Vlaanderen">
            <img src="../public/img/Théâtre Bronks/logos partenaires/logo_vbx.png" alt="BXL">
            <img src="../public/img/Théâtre Bronks/logos partenaires/bruzz_logo.png" alt="Bruzz">
        </div>
    </main>

    <footer>
        <div>
            <p>Rue du marché 15-17</p>
            <br>
            <p>1000 Bruxelles</p>
            <br>
            <p>02 219 99 21</p>
            <br>
            <a href="">info@bronks.be</a>
            <br>
            <br>
            <p>Horaires d'ouverture de la réception: mercredi de 13h00 à 17h30</p>
            <br>
            <p>&copie; DESIGN BY PIXEL</p>
        </div>
    </footer>  
</body>
</html>