<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
    <div>
        <img class="logo" src="../public/img/logo.png" alt="Bronks">
    </div>
    <div>
        <label for="charset"><input type="search">Search</label>
    </div>
    <div id="plangue">
        <button class="langue">NL</button>
        <button class="langue">FR</button>
        <button class="langue">EN</button>
    </div>
    <div>
        <nav id="pmenu">
            <button class="menu"><a href="programme.html">PROGRAMME</a></button>
            <button class="menu"><a href="studiobronks.html">STUDIO BRONKS</a></button>
            <button class="menu"><a href="ecoles.html">ÉCOLES</a></button>
            <button class="menu"><a href="openhuis.html">OPEN HUIS</a></button>
            <button class="menu"><a href="apropos.html">À PROPOS DE BRONKS</a></button>
            <button class="menu"><a href="visite.html">VOTRE VISITE</a></button>
        </nav>
    </div>
    </header> 
    <main>
        <div id="pimg">
            <a href="comeonfeet.html"><img src="../public/img/Théâtre Bronks/photos home/01.jpg" alt="Come On Feet"></a>
            <a href="masques.html"><img src="../public/img/Théâtre Bronks/photos home/02.jpg" alt="Masques"></a>
            <a href="Cyrano.html"><img src="../public/img/Théâtre Bronks/photos home/03.jpg" alt="Cyrano"></a>
            <a href="Love.html"><img src="../public/img/Théâtre Bronks/photos home/04.jpg" alt="Love"></a>
            <a href="Rome.html"><img src="../public/img/Théâtre Bronks/photos home/05.jpg" alt="Rome"></a>
            <a href="page-404.html"><img src="../public/img/Théâtre Bronks/photos home/06.jpg" alt="Paris"></a>
        </div>
        <div>
            <h1>RESTEZ INFORMÉ!</h1>
            <h2>Abonnez-vous à notre bulletin</h2>
            <button>S'INSCRIRE</button>
        </div>
        <div>
            <a href="https://www.vlaanderen.be/"><img src="../public/img/Théâtre Bronks/logos partenaires/vlaanderen-logo.jpg" alt="Vlaanderen"></a>
            <a href="https://www.bruxelles.be/"><img src="../public/img/Théâtre Bronks/logos partenaires/logo_vbx.png" alt="BXL"></a>
            <a href="https://www.bruzz.be/"><img src="../public/img/Théâtre Bronks/logos partenaires/bruzz_logo.png" alt="Bruzz"></a>
        </div>
    </main>
</body>
</html>