<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
    <div id="dlogo">
        <img class="logo" src="../public/img/logo.png" alt="Bronks">
        <label for="charset"><input type="search">Search</label>
    </div>
    <div id="plangue">
        <button class="langue">NL</button>
        <button class="langue">FR</button>
        <button class="langue">EN</button>
    </div>
    <div>
        <nav id="pmenu">
            <button class="menu"><a href="programme.html">PROGRAMME</a></button>
            <button class="menu"><a href="studiobronks.html">STUDIO BRONKS</a></button>
            <button class="menu"><a href="ecoles.html">ÉCOLES</a></button>
            <button class="menu"><a href="openhuis.html">OPEN HUIS</a></button>
            <button class="menu"><a href="apropos.html">À PROPOS DE BRONKS</a></button>
            <button class="menu"><a href="visite.html">VOTRE VISITE</a></button>
        </nav>
    </div>
    </header> 
    <main>
        <div id="pimg">
            <a href="comeonfeet.html"><img class="img" src="../public/img/Théâtre Bronks/photos home/01tri.svg" alt="Come On Feet"></a>
            <a href="masques.html"><img class="img" src="../public/img/Théâtre Bronks/photos home/02tri.svg" alt="Masques"></a>
            <a href="Cyrano.html"><img class="img" src="../public/img/Théâtre Bronks/photos home/03tri.svg" alt="Cyrano"></a>
            <a href="Love.html"><img class="img" src="../public/img/Théâtre Bronks/photos home/04tri.svg" alt="Love"></a>
            <a href="Rome.html"><img class="img" src="../public/img/Théâtre Bronks/photos home/05tri.svg" alt="Rome"></a>
            <a href="page-404.html"><img class="img" src="../public/img/Théâtre Bronks/photos home/06tri.svg" alt="Paris"></a>
        </div>
        <div id="jaune">
            <h1>RESTEZ INFORMÉ!</h1>
            <h2>Abonnez-vous à notre bulletin</h2>
            <button id="subscribe">S'INSCRIRE</button>
        </div>
        <div id="pimg2">
            <a href="https://www.vlaanderen.be/"><img class="img2"  src="../public/img/Théâtre Bronks/logos partenaires/vlaanderen-logo.jpg" alt="Vlaanderen"></a>
            <a href="https://www.bruxelles.be/"><img class="img2" src="../public/img/Théâtre Bronks/logos partenaires/logo_vbx.png" alt="BXL"></a>
            <a href="https://www.bruzz.be/"><img class="img2" src="../public/img/Théâtre Bronks/logos partenaires/bruzz_logo.png" alt="Bruzz"></a>
        </div>
    </main>
    <footer>
        <div class="pfooter">
            <p>Rue du marché 15-17</p>
            <p>1000 Bruxelles</p>
            <p>02 219 99 21</p>
            <a class="email" href="">info@bronks.be</a>
        <br>
    <br>
            <p>Horaires d'ouverture de la réception: mercredi de 13h00 à 17h30</p>
            <br>
            <p>&copie; DESIGN BY PIXEL</p>
        </div>
    </footer>  
</body>
</html>