<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
    <div id="dlogo">
        <img class="logo" src="../public/img/logo2.svg" alt="Bronks">
    <div id="SearchLanguage">
        <label for="charset"><input type="search" placeholder="Chercher"></label>
    <div id="navlangue">
        <button class="langue">NL</button>
        <button class="langue">FR</button>
        <button class="langue">EN</button>
    </div>
    </div>
    </div>
    <div>
        <nav id="pmenu">
            <button class="menu"><a href="programme.html">PROGRAMME</a></button>
            <button class="menu"><a href="studiobronks.html">STUDIO BRONKS</a></button>
            <button class="menu"><a href="ecoles.html">ÉCOLES</a></button>
            <button class="menu"><a href="openhuis.html">OPEN HUIS</a></button>
            <button class="menu"><a href="apropos.html">À PROPOS DE BRONKS</a></button>
            <button class="menu"><a href="visite.html">VOTRE VISITE</a></button>
        </nav>
    </div>
    </header> 
    <main>
        <div>
            <img src="../public/img/Théâtre Bronks/photos home/02.jpg" alt="Masques">
        </div>
   
</body>
</html>