<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
    <div id="dlogo">
        <img class="logo" src="../public/img/logo2.svg" alt="Bronks">
    <div id="SearchLanguage">
        <label for="charset"><input type="search" placeholder="Chercher"></label>
    <div id="navlangue">
        <button class="langue">NL</button>
        <button class="langue">FR</button>
        <button class="langue">EN</button>
    </div>
    </div>
    </div>
    <div>
        <nav id="pmenu">
            <button class="menu"><a href="programme.html">PROGRAMME</a></button>
            <button class="menu"><a href="studiobronks.html">STUDIO BRONKS</a></button>
            <button class="menu"><a href="ecoles.html">ÉCOLES</a></button>
            <button class="menu"><a href="openhuis.html">OPEN HUIS</a></button>
            <button class="menu"><a href="apropos.html">À PROPOS DE BRONKS</a></button>
            <button class="menu"><a href="visite.html">VOTRE VISITE</a></button>
        </nav>
    </div>
    </header> 
    <main>
        <div class="programme">
            <div>
            <a href="comeonfeet.html"><img src="../public/img/Théâtre Bronks/photos home/01.jpg" alt="Come On Feet"></a>
            <p>Come On Feet</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
            <div>
            <a href="masques.html"><img src="../public/img/Théâtre Bronks/photos home/02.jpg" alt="Masques"></a>
            <p>Masques</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <a href="Cyrano.html"><img src="../public/img/Théâtre Bronks/photos home/03.jpg" alt="Cyrano"></a>
            <p>Cyrano</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <a href="Love.html"><img src="../public/img/Théâtre Bronks/photos home/04.jpg" alt="Love"></a>
            <p>Love</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <a href="Rome.html"><img src="../public/img/Théâtre Bronks/photos home/05.jpg" alt="Rome"></a>
            <p>Paris</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <a href="page-404.html"><img src="../public/img/Théâtre Bronks/photos home/06.jpg" alt="Paris"></a>
            <p>Rome</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        </div>
    </main>

    <footer>
        <div class="pfooter">
            <p>Rue du marché 15-17</p>
            <p>1000 Bruxelles</p>
            <p>02 219 99 21</p>
            <a class="email" href="">info@bronks.be</a>
        <br>
        <br>
    <br>
            <p>Horaires d'ouverture de la réception: mercredi de 13h00 à 17h30</p>
            <br>
            <p>&copie; DESIGN BY PIXEL</p>
        </div>
    </footer>  
</body>
</html> 
</body>
</html>