<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
    <div id="dlogo">
        <a href="homepage.html"><img class="logo" src="../public/img/logo2.svg" alt="Bronks"></a>
    <div id="SearchLanguage">
        <label for="charset"><input type="search" placeholder="Chercher"></label>
    <div id="navlangue">
        <button class="langue">NL</button>
        <button class="langue">FR</button>
        <button class="langue">EN</button>
    </div>
    </div>
    </div>
    <div>
        <nav id="pmenu">
            <button class="menu"><a href="programme.html">PROGRAMME</a></button>
            <button class="menu"><a href="studio.html">STUDIO BRONKS</a></button>
            <button class="menu"><a href="ecoles.html">ÉCOLES</a></button>
            <button class="menu"><a href="openhuis.html">OPEN HUIS</a></button>
            <button class="menu"><a href="apropos.html">À PROPOS DE BRONKS</a></button>
            <button class="menu"><a href="visite.html">VOTRE VISITE</a></button>
        </nav>
    </div>
    </header> 
    <main>
        <div id="programme">
            <div class="content">
            <a href="comeonfeet.html"><img src="../public/img/Théâtre Bronks/photos home/01pro.svg" alt="Come On Feet"></a>
            <p>Come On Feet</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="content">
            <a href="masques.html"><img src="../public/img/Théâtre Bronks/photos home/02pro.svg" alt="Masques"></a>
        </div>
        <div class="content">
            <p>Masques</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="content">
            <a href="Cyrano.html"><img src="../public/img/Théâtre Bronks/photos home/03pro.svg" alt="Cyrano"></a>
        </div>
        <div class="content">
            <p>Cyrano</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="content">
            <a href="Love.html"><img src="../public/img/Théâtre Bronks/photos home/04pro.svg" alt="Love"></a>
        </div>
        <div class="content">
            <p>Love</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="content">
            <a href="Rome.html"><img src="../public/img/Théâtre Bronks/photos home/05pro.svg" alt="Rome"></a>
        </div>
        <div class="content">
            <p>Paris</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem, ipsum.</p>
        </div>
    </div>
        <div id="jaune">
            <h1>RESTEZ INFORMÉ!</h1>
            <h2>Abonnez-vous à notre bulletin</h2>
            <a href="sub.html"><button id="subscribe">S'INSCRIRE</button></a>
        </div>
        <div id="pimg2">
            <a class="partner" href="https://www.vlaanderen.be/"><img class="img2"  src="../public/img/Théâtre Bronks/logos partenaires/vlaanderen-logo.jpg" alt="Vlaanderen"></a>
            <a class="partner" href="https://www.bruxelles.be/"><img class="img2" src="../public/img/Théâtre Bronks/logos partenaires/logo_vbx.png" alt="BXL"></a>
            <a class="partner" href="https://www.bruzz.be/"><img class="img2" src="../public/img/Théâtre Bronks/logos partenaires/bruzz_logo.png" alt="Bruzz"></a>
        
        </div>
    </main>
    <footer>
        <div class="pfooter">
            <p class="footerp">Rue du marché 15-17</p>
            <p class="footerp">1000 Bruxelles</p>
            <p class="footerp">02 219 99 21</p>
            <a class="email" href="">info@bronks.be</a>
        <br>
        <br>
    <br>
            <p class="footerp">Horaires d'ouverture de la réception: mercredi de 13h00 à 17h30</p>
            <br>
            <p class="footerp">@ DESIGN BY GUILLAUME BAILLIEUX - 2024 </p>
        </div>
    </footer>  
</body>
</html>